html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
}

html, body, #app {
  min-height: 100%;
}

.nav-black{
  background: #000 !important;
}

.cursor-select:hover {
  opacity: 0.6;
}



.py-10 {
  padding-top: 6rem !important;
}

.py-10 {
  padding-top: 6rem !important;
}