html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  background-color: #000;
  color: #F3F3F3;
}

html, body, #app {
  min-height: 100%;
}

.nav-black{
  background: #000 !important;
}

.cursor-select:hover {
  opacity: 0.6;
  cursor: pointer;

}

.increment-size:hover{
  font-size: 1.9em;
}

.py-10 {
  padding-top: 6rem !important;
}

.py-10 {
  padding-top: 6rem !important;
}